<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>
</head>

<body>
  <header class="post-header">
    <center>
    <div class="post-title">{{ page.title }}</div>
    {% if page.subtitle %} <div class="post-subtitle"><p>{{ page.subtitle }}</p></div> {% endif %}
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_string }}">{{ page.date | date: "%b %-d %Y" }}</time>
    </div>
    </center>
  </header>


  <div class="wrapper">
    <div class="post-content">
      {{ content }}
    </div>
  </div>

{% include footer.html %}

</body>
</html>
